body {
    background-color: grey;               /*Makes background color to grey*/
    border: 2px solid rgb(54, 69, 79);    /*Creates a border that is 2px wide with the solid design and a dark grey color*/
    padding: 20px;                          /*Gives padding of 20px*/
    margin: 0px;                            /*Gives margin of 0px*/
}

h1 {
    font-size: 60px;                        /*Makes the font size 60px big*/
    text-align: center;                     /*Makes the text centered*/
    color: rgb(244, 163, 11);             /*Makes the text color orange*/
    font-weight: bold;                      /*Makes the font look bold*/ 
}

.textstyleshoe {
    font-size: 100px;                       /*Makes the font size 100px big*/
    transition: font-size 0.2s ease;        /*Smoothly changes the font size over 0.2 seconds*/
}

.textstyleshoe:hover {
    font-size: 110px;                       /*Makes the font size 110px big*/
}

.textstyleaboutus {
    font-size: 40px;                        /*Makes the font size 40px big*/
    transition: font-size 0.2s ease;        /*Smoothly changes the font size over 0.2 seconds*/
}

.textstyleaboutus:hover {
    font-size: 50px;                        /* Makes the font size 50px big*/
}

.textstyle {
    font-size: 50px;                        /*Makes the font size 50px big*/
    transition: font-size 0.2s ease;        /*Smoothly changes the font size over 0.2 seconds*/
}

.textstyle:hover {
    font-size: 60px;                        /*Makes the font size 60px big*/
}

a:hover {
    color: green;                         /*Makes the font color green when hovering over it*/
}


h2 {
    font-size: 100px;                       /*Makes the font size 100px big*/
    text-align: center;                     /*Makes the text centered*/
    color: black;                         /*Makes the font color black*/
}

.shoe4shoe5shoe6 {
    font-size:100px;                        /*Makes the font size 100px big*/
    text-align: center;                     /*Makes the text centered*/
    color: black;                         /*Makes the font color black*/
}

img {
    vertical-align: middle;                 /*Makes the image go in the middle*/
    width: 40%;                             /*Makes the width of the image 40% big*/
}


h3 {
    text-align: center;                     /*Makes the text centered*/
    font-size: 50px;                        /*Makes the font size 50px big*/
    color: rgb(249, 1, 1);                /*Makes the font color red*/
}

h4 {
    font-size: 30px;                        /*Makes the font size 30px big*/
    color: crimson;                       /*Makes the font color red*/
    font-weight: bold;                      /*Makes the font look bold*/
    text-align: center;                     /*Makes the text centered*/
}

h5 {
    font-size: 20px;                        /*Makes the font size 20px big*/
    color: rgb(51, 51, 51);               /*Makes the font color a dark grey color*/ 
    text-align: center;                     /*Makes the text centered*/

}

p {
    font-size: 15px;                        /*Makes the font size 15px big*/
    text-align: center;                     /*Makes the text centered*/
}


h6 {
    font-size: 40px;                        /*Makes the font size 40px big*/
    text-align: center;                     /*Makes the text centered*/
}

.shoe1 {
    vertical-align: top;                    /*Places .shoe1 at the top of the page*/              
    text-align: center;                     /*Makes the text centered*/
}

.shoe2 {
    vertical-align: top;                    /*Places .shoe2 at the top of the page*/
    text-align: center;                     /*Makes the text centered*/
}

.shoe3 {
    vertical-align: top;                    /*Places .shoe3 at the top of the page*/
    text-align: center;                     /*Makes the text centered*/
}

.shoe4 {
    vertical-align: top;                    /*Places .shoe4 at the top of the page*/
    text-align: center;                     /*Makes the text centered*/
}

.shoe5 {
    vertical-align: top;                    /*Places .shoe5 at the top of the page*/
    text-align: center;                     /*Makes the text centered*/
}

.shoe6 {
    vertical-align: top;                    /*Places .shoe6 at the top of the page*/
    text-align: center;                     /*Makes the text centered*/
}

.information {
    background-color: black;              /*Makes the background color black*/
    color: white;                         /*Makes the text color white*/
    text-align: center;                     /*Makes the text centered*/
}







    
